body {
    background: url("../img/back.jpg") no-repeat scroll 50% 0 #000000;
    color: #FFFFFF;
    font-family: 'PT Sans',Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: left;
}

a{
    color: #00a1e2;
    outline: none;
}

.contaner {
    margin: auto;
    width: 1000px;
    overflow: hidden;
    position: relative;
}

.top-menu {
    margin-top: 310px;
}

.top-menu a {
    font-size:18px;
    background: rgba(0,0,0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7f000000', endColorstr='#7f000000'); /* IE */
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    text-align:center;
    color:#ffffff;
    text-decoration:none;
    display: block;
    float: left;

}

.top-menu a:hover {
    background: rgba(127,127,127, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7f7f7f7f', endColorstr='#7f7f7f7f'); /* IE */
}

.top-menu .active, .top-menu .active:hover {
    background: rgba(127,0,0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7fff0000', endColorstr='#7fff0000'); /* IE */
}

.main-contaner {
    background: rgba(0,0,0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7f000000', endColorstr='#7f000000'); /* IE */
}

.clear {
    clear: both;
    height: 0px;
}

.schedule {

    float: left;
    width: 300px;
    padding-top: 20px;
}

.film-detail {
    padding-top: 20px;
    float: left;
    width: 700px;
}

.film-detail img {
    border: 1px solid #FFFFFF;
    float: left;
    margin-right: 15px;
}

.film-decription {
    float: left;
    width: 500px;
}

.film-decription i{
    display: block;
    float: left;
    min-width: 180px;
}

.film-decription span{
    display: block;
    float: left;
    width: 300px;
}

.film-content {
    margin-top: 20px;
}

.trailer {
    margin-top: 20px;
}

.footer {
    font-size: 12px;
    margin-top: 50px;
}

.footer div {
    float: left;
    width: 300px;
}

.calendar .select a {
    font-size:18px;
    margin: 5px;
    width: 27px;
    padding-bottom: 2px;
    text-align:center;
    color:#A3A3A3;
    text-decoration:none;
    display: block;
    float: left;
    border: 1px solid #A3A3A3;
    border-radius: 15px;
}

.calendar .select a:hover {

    border: 1px solid #FFFFFF;
    color:#FFFFFF;
}

.calendar .select span {
    display: block;
    float: left;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 200px;
    text-align:center;
}

.calendar .week {
    margin-left: 15px;
}

.calendar .week span {

    display: block;
    float: left;
    width: 35px;
    text-align:center;
}

.calendar .days {
    margin-left: 15px;
    width: 250px;
}

.calendar .days a {

    color: #FFFFFF;
    text-decoration:none;
    display: block;
    float: left;
    width: 33px;
    text-align:center;
    background: rgba(127,127,127, 0.5);
    padding: 1px;

    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7f7f7f7f', endColorstr='#7f7f7f7f'); /* IE */
}

.calendar .days a:hover {
    background: rgba(255,255,255, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7fffffff', endColorstr='#7fffffff'); /* IE */
}

.calendar .days .pad {
    width: 35px;
    height: 1px;
    float: left;
}

.calendar .days .active {
    border: 1px solid #FFFFFF;
    padding: 0px;
}

.films {
    width: 270px;
}

.films .name {
    color: #FF891E;
    text-decoration:none;
}

.films .time {
    padding: 0;
    margin: 0;
}

.films .time li {

    border-right: 1px solid #FFFFFF;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding-right: 5px;
}

.films .time li:last-child {
    border-right: none;
}

.films .film {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.films .film:hover {
    background: rgba(255,255,255, 0.1);
}

.films .active, .films .active:hover {
    background: rgba(255,255,255, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4bffffff', endColorstr='#4bffffff'); /* IE */
}
